<config>
    <modules>
        <Bc_Login>
            <version>0.1.0</version>
        </Bc_Login>
    </modules>
    <global>
        <helpers>
            <bc_login>
                <class>Bc_Login_Helper</class>
            </bc_login>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <bc_login>
                    <file>bc_login.xml</file>
                </bc_login>
            </updates>
        </layout>
        <routers>
            <bc_login>
                <use>standard</use>
                <args>
                    <module>Bc_Login</module>
                    <frontName>login</frontName>
                </args>
            </bc_login>
        </routers>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <bcajaxlogin translate="title" module="login">
                                            <title>Bluecom</title>
                                            <sort_order>70</sort_order>
                                        </bcajaxlogin>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <bcajaxlogin>
            <settings>
                <enabled>1</enabled>
            </settings>
        </bcajaxlogin>
    </default>
</config>